<!DOCTYPE html>
<html>
<head>
  <title>Notification</title>
</head>
<body>
  <h1>Notification</h1>
  <p>Hello <%= @user_email %>,</p>
  <p><strong><%= @message %></strong></p>
  <p>This is an automated notification from our system.</p>
  <p>Best regards,<br>The Team</p>
</body>
</html>
