<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
</head>
<body>
  <h1>Welcome!</h1>
  <p>Hello <%= @user_email %>,</p>
  <p>Thank you for joining our platform. We're excited to have you!</p>
  <p>Best regards,<br>The Team</p>
</body>
</html>
