/* Mixin: Nav Button*/

@layer mixin {
  .tabs .tabs-button,
  .mixin-nav-button {
    display: flex;
    align-items: center;
    padding: var(--padding-button);
    gap: var(--gap-md);
    border-radius: var(--radius-sm);
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    color: color-mix(in oklab, var(--black) 20%, white);

    &:is(:hover, :focus-visible) {
      background-color: var(--surface-hover);
    }
  }
}