button {
  font-family: inherit;
  display: flex;
  font-size: 1rem;
  align-items: center;
  padding: .5rem .75rem;
  border-radius: .5rem;
  gap: .5rem;
  font-weight: 400;

  &.secondary {
    background-color: transparent;
    border: 1px solid var(--divider);
    color: var(--white);

    &:hover, &:focus-within {
      border: 1px solid var(--divider-active);
      background-color: var(--surface-hover);
    }
  }
}