.requests\/stats {
  display: flex;
  border-bottom: 1px solid var(--divider);
  margin: 0;

  ._unit {
    font-size: 1.3rem;
    font-weight: 400;
    margin-left:.25rem;
    color: var(--black-secondary);
  }

  & > * {
    padding: 2rem 2rem;
    flex-grow: 1;

    & + & {
      border-left: 1px solid var(--divider);
    }

    & > dt {
      font-weight: 400;
      color: var(--black-secondary);
      margin-bottom: .75rem;
    }

    & > dd {
      font-size: 2.5rem;
      font-weight: 400;
      margin: 0;
      display: flex;
      align-items: baseline;
    }
  }
}


.table-bar-chart {
  display: grid;
  grid-template-columns: auto min-content min-content;
  column-gap: 1rem;

  .table-bar-row {
    position: relative;
    background-color: transparent;
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    padding: .5rem;

    &:hover {
      background-color: var(--surface-hover);
    }
  }

  .table-bar-header {
    grid-column: 1 / -1;
    border-bottom: 1px solid var(--divider);
    font-weight: var(--font-weight-bold);
    padding: .5rem 0;
  }

  .bar {
    background-color: var(--blue);
    position: absolute;
    top: 0;
    left:0;
    bottom:0;
    mix-blend-mode: lighten;
    z-index: 0;
  }
}