<div class="text-gauge" data-controller="text-gauge" data-text-gauge-series-options-value="<%= local_assigns[:series].merge(samples: 1).to_json %>">
  <div class="title"><%= title %></div>
  <div class="value" data-text-gauge-target="value"><span style="color: var(--black-secondary);font-size:1.5rem"><%= local_assigns[:unit] %></span></div>
</div>