<text-gauge>
  <text-gauge-title><%= title %></text-gauge-title>
  <text-gauge-value><%= value %><span style="color: var(--black-secondary);font-size:1.5rem"><%= local_assigns[:unit] %></span></text-gauge-value>
</text-gauge>