@layer layout {
  .layout-dashboard {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xl);

    & > .summary-panel {
      grid-area: summary;
      margin: var(--sp-6) var(--sp-6) 0;
    }

    & > .charts {
      display: grid;
      gap: var(--gap-xl);
      grid-template-columns: 1fr 1fr;
      padding-inline: var(--sp-6);
    }
  }
}