@layer layout {
  .layout-requests_index {
    display: grid;

    grid-template-areas:
        'summary summary'
        'chart chart'
        /*'chart chart'*/
        'bycontroller bycontroller'
        'events events';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content auto auto;
    gap: var(--gap-xl);

    & > .summary-panel {
      grid-area: summary;
      margin: var(--sp-6) var(--sp-6) 0;
    }

    & > .charts {
      grid-area: chart;
      display: grid;
      grid-template-columns: subgrid;
      padding-inline: var(--sp-6);
    }

    & > .layout-requests_index-by_controller {
      grid-area: bycontroller;
    }

    & > section.recent-requests {
      grid-area: events;
    }
  }
}