@layer layout {
  .layout-trace {
    display: grid;
    grid-template-rows: min-content min-content 1fr;
    grid-template-columns: 1fr;
    gap: 0.25rem;
    height: 100%;

    & > .layout-area_chart {
      overflow: auto;
    }

    & > .layout-area_resize {
      place-content: center;
      display: flex;
    }

    & > .layout-area_trace-details {
      overflow: auto;
      min-height: 200px;
    }
  }
}