@layer layout {
  .layout-two-column {
    display: grid;
    grid-template-columns: minmax(0,1fr) 300px;
    grid-template-areas: 'main side-panel';
    gap: var(--gap-xl);

    & > .layout-two-column-main {
      grid-area: main;
      padding: var(--padding-lg);
    }

    & > .layout-two-column-side-panel {
      grid-area: side-panel;
    }
  }
}