.errors\/show\/details {
  grid-area: details;
  margin: var(--sp-4);
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);

  & > h2 {
    margin-block: var(--sp-4);
    padding-left: var(--sp-4);
    font-size: var(--font-size-xl);
  }
}