@layer layout {
  .layout-app {
    display: grid;
    grid-template-areas:  'side-nav top-nav'
                          'side-nav main';
    grid-template-columns: 16rem 1fr;
    grid-template-rows: auto 1fr;
    margin: 0;

    & > .layout-app-side-nav {
      grid-area: side-nav;
    }

    & > .layout-app-top-nav {
      grid-area: top-nav;
    }

    & > .layout-app-main {
      grid-area: main;
      overflow: auto;
    }
  }
}