.layout\/details-side-panel {
  padding: 0;
  display: grid;
  grid-template-areas:'details side-panel';
  grid-template-columns: minmax(400px, 1fr) 300px;


  & > .details {
    grid-area: details;
  }

  & > .side-panel {
    grid-area: side-panel;
  }
}