@layer components {
  .card {
    border-radius: var(--radius-sm);
    background-color: var(--surface-card);
    box-shadow: var(--shadow-sm);
    border: var(--border-divider);
    padding: 0;

    & h2 {
      padding: var(--sp-4);
      margin: 0;
    }

    &:has(> table, >.\~scrollable>table) {

      & table {
        width: 100%;
        border-spacing: 0;
        white-space: nowrap;

        & th {
          text-align: left;
          font-weight: var(--font-weight-bold);
          padding: var(--padding-cell);
          border-bottom: var(--border-divider);

          &:first-child {
            border-top-left-radius: var(--radius-sm);
          }

          &:last-child {
            border-top-right-radius: var(--radius-sm);
          }

        }

        & tr:last-child td {
          border-bottom: none;
          /*padding-bottom: 1rem;*/
        }

        & td {
          padding: var(--padding-cell);
          border-bottom: var(--border-divider);

          & + & {
            border-left: var(--border-divider);
          }
        }
      }
    }
  }
}