@layer components {
  [data-chart-type-value="icicle"] {
    .apexcharts-legend-series {
      display: flex;
      gap: var(--gap-sm);
      align-items: center;
    }

    .apexcharts-legend-text {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: space-between;
      gap: var(--sp-6);
      padding-block: var(--sp-1);

      .percent {
        display: flex;
        gap: var(--gap-md);
      }

      .bar {
        width: var(--sp-6);
        height: 14px;
        background-color: var(--surface-card);

        & > div {
          height: 100%;
          background-color: var(--blue);
        }
      }
    }
  }

  .chart {
    overflow: hidden;
    min-height: 250px;
  }
}