.dropdown {
  position: relative;

  & > ul {
    background-color: var(--surface-dropdown);
    opacity: 0;
    visibility: hidden;
    transform: translate(0, -1rem);
    transition: opacity var(--transition-quick), visibility var(--transition-quick), transform var(--transition-quick);
    list-style: none;
    margin: 0;
    margin-top: var(--gap-sm);
    padding: 0;
    position: absolute;
    z-index: 100;
    min-width: max-content;
    border: var(--border-divider);
    border-radius: var(--radius-sm);
    overflow: hidden;
    box-shadow: var(--shadow-md);

    & > li {

      border-bottom: var(--border-divider);
      text-align: left;

      &:last-child {
        border-bottom: none;
      }

      & > a {
        color: var(--white);
        text-decoration: none;
        font-weight: var(--font-weight-light);
        padding: var(--padding-button);
        display: flex;
        align-items: center;
        justify-content: space-between;

        & svg {
          display: none;
        }

        &.active {
          font-weight: var(--font-weight-bold);

          & svg {
            display: block;
          }
        }


        &:not(.active):hover {
          background-color: var(--surface-hover);
        }
      }
    }
  }

  &:focus-within {
    & > ul {
      opacity: 100;
      visibility: visible;
      transform: translate(0, 0);
    }
  }
}