@scope (.query-table) {

  :scope {
    display: grid;
    --column-count: 10;
    grid-template-columns: repeat(var(--column-count), auto);
    grid-template-rows: auto min-content auto auto;
    position: relative;
  }

  ._resize-handle {
    position: absolute;
    width: 4px;
    top: 0;
    bottom:0;
    left: -4px;
    grid-row: 1 / 3;
    transform: translateX(50%);
    cursor: col-resize;
    z-index: 5;
  }

  ._resize-handle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: all var(--transition-standard);
    background-color: var(--accent);
  }

  ._resize-handle:hover::before {
    background-color: var(--accent);
    transform-origin: center center;
    transform: scaleX(1);
  }

  ._column {
    padding: var(--padding-cell);
    border-bottom: var(--border-divider);
    white-space: nowrap;
    overflow: hidden;

    & + & {
      border-left: var(--border-divider);
    }

    &:first-child {
      padding-left: var(--sp-6);
    }
    &:last-child {
      padding-right: var(--sp-6);
    }
  }

  ._header {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: -1 / 1;
    flex-wrap: nowrap;
    font-weight: var(--font-weight-bold);
  }

  ._body {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: -1 / 1;
  }

  ._row {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: -1 / 1;
  }

  .pagination {
    margin-block: var(--sp-2);
    grid-column: -1 / 1;
  }

  ._column[data-column-name="status"] {

  }

}