@scope (.resize-handle) {

  :scope {
    position: relative;
    height: 8px;
    width: 80px;
    border-radius: 9999px 9999px;
    cursor: ns-resize;
    background-color: var(--divider-active);
    transition: all var(--transition-standard);

    &:hover {
      background-color: var(--accent);
    }
  }
}