.search-bar {
  display: flex;
  align-items: start;

  input[type="search"] {
    flex-grow: 1;
    padding: var(--sp-2);
    font-size: var(--font-size-md);
    color: var(--white);
    border: var(--border-divider);
    border-radius: 4px;
    background-color: var(--surface-card);
  }
}