.search-bar {
  display: flex;
  align-items: start;

  input[type="search"] {
    flex-grow: 1;
    padding: 8px;
    font-size: 1rem;
    color: var(--white);

    border: 1px solid var(--divider);
    border-radius: 4px;
    background-color: var(--surface-card);
  }
}