@scope (.side-nav) {

  :scope {
    border-right: var(--border-divider);
    padding: var(--sp-4);
    display: flex;
    flex-direction: column;
    gap: var(--gap-lg);
    align-items: stretch;
    background: rgb(0, 144, 255);
    background: radial-gradient(ellipse 100% 4rem at top, rgba(0, 144, 255, 0.4) 0%, rgba(22, 26, 29, 1) 100%);
  }

  .active {
    background-color: var(--surface-active);
    color: var(--white);

    &:hover {
      background-color: var(--surface-active);
    }
  }

  .redis-stats {
    align-self: center;
    color: var(--black-secondary);
    font-size: var(--font-size-xs);
    text-align: center;

    & a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: var(--white);
      }
    }
  }

  .logo-with-text, .logo {
    align-self: start;
    padding-inline: var(--sp-3);
    transition: all 500ms ease-in-out;

    &:hover {
      filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, .8));
    }
  }

  @media (max-width: 1024px) {
    .logo-with-text {
      display: none;
    }
  }

  @media (min-width: 1025px) {
    .logo {
      display: none;
    }
  }


  & > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    flex-grow: 1;

    & a {
      display: flex;
      align-items: center;
      padding: var(--padding-button);
      gap: var(--gap-md);
      border-radius: var(--radius-sm);
      text-decoration: none;
      font-weight: var(--font-weight-bold);
      color: color-mix(in oklab, var(--black) 20%, white);

      &:is(:hover, :focus-visible) {
        background-color: var(--surface-hover);
      }

      & span {
        @media (max-width: 1024px) {
          display: none;
        }
      }
    }
  }
}