.side-panel {
  color: var(--white);
  padding: var(--padding-lg);
  border-left: 1px solid var(--divider);

  ._occurrence_count {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
  }

  & dl {
    margin: 0;

    & dt {
      font-weight: var(--font-weight-bold);
      margin: 0;
      color: var(--black-secondary);
      font-size: 1.15rem;
    }

    & dd {
      margin: 0;
      padding-block: var(--sp-2);

      &[title] {
        text-decoration: underline;
        text-decoration-style: dotted;
        text-decoration-color: var(--black-secondary);
      }
    }

    & dd + dt {
      margin-top: 2.5rem;
    }
  }
}