.status-badge {
  color: var(--white);
  padding: var(--sp-1) var(--sp-2);
  border-radius: var(--radius-sm);

  &.error {
    background-color: var(--error);
  }

  &.success {
    background-color: var(--success);
  }

  &.warning {
    background-color: var(--warning);
  }
}