@layer components {
  @scope (.summary-panel) {
    :scope {
      border: var(--border-divider);
      border-radius: var(--rounded);
    }

    dl {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: var(--gap-md) var(--sp-6);
      padding: var(--sp-2) var(--sp-6);
      margin: 0;
    }

    .stat {
      display: flex;
      flex-direction: column;
      gap: var(--gap-md);
      min-width: 0;
    }

    dt {
      /*font-weight: 600;*/
      color: var(--black-secondary);
    }

    dd {
      margin: 0;
      padding: 0;
      font-weight: var(--font-weight-bold);
    }
  }
}
