@layer components {
  @scope (.summary-panel) {
    :scope {
      border: var(--border-divider);
      border-radius: var(--rounded);
    }

    dl {
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-auto-flow: column;
      column-gap: var(--sp-6);
      padding: var(--sp-2) var(--sp-6);
    }
    dt {
      /*font-weight: 600;*/
      color: var(--black-secondary);
    }

    dd {
      margin: 0;
      margin-top: var(--gap-md);
      padding: 0;
      font-weight: var(--font-weight-bold);
    }
  }
}