.tabs {
  border-bottom: var(--border-divider);
  /*border-top: 1px solid var(--divider);*/
  padding-block: .5rem;
  padding-inline: 1.25rem;

  display: flex;
  gap: var(--gap-sm);

  .tabs-button {
    /* Mixin .mixin-nav-button */

    position: relative;

    &:has(:focus-visible) {
      outline: -webkit-focus-ring-color auto 1px;
    }

    &.active:before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      height: 2px;
      left: 0;
      background-color: var(--divider-active);
      view-transition-name: tab-button;
    }
  }

  &.--page-tabs {
    border-bottom: 0;
    padding-inline: 0;
  }

    /*& label:has(:focus) {*/
    /*  outline: -webkit-focus-ring-color auto 1px;*/
    /*}*/
}

.tab-content {
  padding-bottom: 2rem;
  display: grid;

  & dd {
    margin-left: 0;
  }
  & dt {
    font-weight: var(--font-weight-bold);
    color: var(--black-secondary);
    margin-bottom: .75rem;
  }
}

.table-bar-row {
  view-transition-class: bar;
}

::view-transition-old(.bar):only-child {
  animation: 0;
  opacity:0;
}

::view-transition-new(.bar):only-child {
  animation: 0;
}

::view-transition-group(root) {
  animation: 0;
}