.table-chart {
  .table-chart-title {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    margin: 0;
    padding: var(--sp-4);
    border-bottom: var(--border-divider);
  }

  & tr:has(a.table-chart-row-action:hover) {
    background-color: var(--surface-hover);
  }

  & a.table-chart-row-action::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
  }

  & > table {
    width: 100%;
    border-spacing: 0;
    white-space: nowrap;

    & th {
      text-align: left;
      font-weight: var(--font-weight-bold);
      padding: var(--padding-cell);
      border-bottom: var(--border-divider);
      & + & {
        border-left: var(--border-divider);
      }
      &:first-child {
        padding-left: var(--sp-6);
      }

      &:last-child {
        padding-right: var(--sp-6);
      }
    }

    & tr {
      position: relative;
    }

    & td {
      padding: var(--padding-cell);
      border-bottom: var(--border-divider);

      & + & {
        border-left: var(--border-divider);
      }

      &:first-child {
        padding-left: var(--sp-6);
      }

      &:last-child {
        padding-right: var(--sp-6);
      }
    }
  }
}