.simple-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  flex-grow: 1;

  .simple-list-title {
    font-weight: var(--font-weight-bold);
  }

  & li {
    padding: var(--padding-lg);
  }

  & li + li {
    border-top: var(--border-divider);
  }

  & a {
    color: color-mix(in oklab, var(--black) 20%, white);

    &:is(:hover, :focus-visible) {
      background-color: var(--surface-hover);
    }
  }
}

.event-detail {

  &:not([hidden]) {
    display: flex;
    flex-direction: column;
    gap: var(--gap-lg);
  }

  max-width: 120ch;

  .highlight {
    border: var(--border-divider);

    .line {
      padding: 0 1rem;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        background-color: var(--surface-hover);
      }
    }
  }
}