@layer components {
  @scope (.text-gauge) {

    :scope {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-block: var(--sp-4);
      padding-inline: var(--sp-6);
      white-space: nowrap;
      background-color: var(--surface-card);
    }

    .title {
    }

    .value {
      font-size: var(--font-size-2xl);
      font-weight: var(--font-weight-bold);
    }
  }
}