.top-nav {
  grid-area: top-nav;
  border-bottom: var(--border-divider);
  padding: var(--sp-4) var(--padding-lg);
  display: flex;
  justify-content: space-between;
  align-items: center;

  ._subtitle {
    font-weight: var(--font-weight-light);
    color: var(--black-secondary);
  }


  & > span {
    display: flex;
    align-items: baseline;
    gap: var(--gap-md);

    & h1 {
      margin: 0;
      align-items: baseline;
    }
  }

  .status-success {
    /*color: #3ad23a;*/
    background-color: var(--success);
    padding: var(--sp-1) var(--sp-2);
    border-radius: var(--radius-sm);
    font-size: var(--font-size-xl);
  }
}