<% content_for(:title, 'Mailers') %>
<main class="layout-dashboard">
  <div class="summary-panel">
    <dl>
      <dt>Emails Sent</dt>
      <dd><%= metric_value(name: 'mailer.delivery_count_sum') || 0 %></dd>
    </dl>
  </div>

  <section class="recent-requests">
    <header>
      <h2>Recent Deliveries</h2>
    </header>
    <turbo-frame id="recent-deliveries" src="<%= recent_mailers_path %>" loading="lazy"></turbo-frame>
  </section>
</main>
