button {
  font-family: inherit;
  display: flex;
  font-size: var(--font-size-md);
  align-items: center;
  padding: var(--padding-button);
  border-radius: var(--radius-sm);
  gap: var(--gap-md);
  font-weight: var(--font-weight-bold);

  &.secondary {
    background-color: transparent;
    border: var(--border-divider);
    color: var(--white);

    &:hover, &:focus-within {
      border: 1px solid var(--divider-active);
      background-color: var(--surface-hover);
    }
  }
}