section {
  header {
    border-bottom: var(--border-divider);
    padding: var(--padding-lg);
    gap: var(--sp-5);
    display: flex;
    flex-direction: column;

    h2 {
      font-size: var(--font-size-lg);
      font-weight: var(--font-weight-bold);
      margin: 0;
    }

    &:has(h2 + *) h2 {
      padding-bottom: var(--sp-4);
      padding-bottom: 0;
    }
  }
}