<% content_for(:title, 'Jobs') %>

<style>
  @scope {
    :scope {
      display: grid;
      gap: 2rem;
    }
  }
</style>

<div class="card table">
  <h2>By Queue</h2>
</div>

<div class="card table">
  <h2>By Job</h2>
</div>

<div class="card table">
  <h2>Recent Jobs</h2>
  <%= render 'events_table', events: @recent_jobs, fields: [:timestamp, :job_id, :job_class, :duration, ] %>
</div>