<% content_for(:title, 'Jobs') %>

<%#= render 'chart', name: 'Latency', series: @latency_series, type: 'area', aggregate_using: :avg %>
<div style="padding: 2rem;">
<%= render 'chart', name: 'Performed', series: series_for(name: 'job.count', aggregate_using: :sum), type: 'bar' %>
</div>

<%= render 'table_chart', name: 'By Queue', group_by: :queue_name, metrics: { "job.count": :sum, "job.queue_latency": :last } %>
<%= render 'table_chart', name: 'By Job', group_by: :job_class, metrics: { "job.count": :sum, latency: :avg, "job.error_count": :sum } %>

<section>
  <h2>Recent Jobs</h2>
  <%= render 'events_table',
             events: @recent_jobs,
             fields: [:time, :job_id, :job_class, :duration],
             formatters: {
               time: ->(time, event) { link_to Time.at(time).to_fs('%H:%M:%S'), job_path(event.job_id) },
             }
  %>
</section>