.query-table {

  display: grid;
  --column-count: 10;
  grid-template-columns: repeat(var(--column-count), auto);
  grid-template-rows: min-content auto;

  & .query-table-column {
    padding: .5rem 1rem;
    border-bottom: 1px solid var(--divider);
    white-space: nowrap;

    & + & {
      border-left: 1px solid var(--divider);
    }
  }

  & > header {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: -1 / 1;
    flex-wrap: nowrap;
    font-weight: var(--font-weight-bold);

  }

  .query-table-body {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: -1 / 1;
  }

  .query-table-row {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: -1 / 1;
  }

  & > table {
    width: 100%;
    border-spacing: 0;
    white-space: nowrap;

    & th {
      text-align: left;
      font-weight: 400;
      padding: 0.5rem 1rem;
      border-bottom: 1px solid var(--divider);
    }

    & td {
      padding: .5rem 1rem;
      border-bottom: 1px solid var(--divider);

      & + & {
        border-left: 1px solid var(--divider);
      }
    }
  }

}