.tabs {
  .tab-nav {

    border-bottom: 1px solid var(--divider);
    border-top: 1px solid var(--divider);
    padding-block: .5rem;

    & > ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: .5rem;
      flex-grow: 1;
      padding-inline: 1.25rem;


      & a {
        display: flex;
        align-items: center;
        padding: .5rem .75rem;
        gap: .5rem;
        border-radius: .5rem;
        text-decoration: none;
        font-weight: 400;
        color: color-mix(in oklab, var(--black) 20%, white);

        &:hover {
          background-color: var(--surface-hover);
        }
      }
    }
  }

  .tab-content {
    padding: 1rem 2rem;

    & dd {
      margin-left: 0;
    }
    & dt {
      font-weight: 400;
      color: var(--black-secondary);
      margin-bottom: .75rem;
    }
  }
}
