<div class="~scrollable">
  <table>
    <thead>
    <tr>
      <% fields.each do |f| %>
        <th><%= f.to_s.humanize(capitalize: true, keep_id_suffix: true) %></th>
      <% end %>

    </tr>
    </thead>
    <tbody>
    <% events.each do |e| %>
      <tr>
        <% fields.each do |f| %>
          <% if (formatter = local_assigns[:formatters]&.fetch(f, nil)) %>
            <% if formatter.arity == 2 %>
            <td><%= formatter.call(e.respond_to?(f) ? e.send(f) : e.payload[f], e) %></td>
              <% else %>
            <td><%= formatter.call(e.respond_to?(f) ? e.send(f) : e.payload[f]) %></td>
            <% end %>
          <% else %>
            <td><%= format_event_value(e.respond_to?(f) ? e.send(f) : e.payload[f]) %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>